a {
    text-decoration: none;
}

.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
    outline: none;
}

.navbar-nav .nav-link {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
    font-weight: 500;
    color: #ffffff;
}

.navbar.active .nav-link {
    color: #17141f;
}

.navbar.active .nav-link.active {
    color: #4bc280!important;
}

.hero h1 {
    color: #4bc280;
}

.hero h2 {
    color: #404040;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
    margin: 1rem 0 1.5rem;
}

.hero ul img {
    opacity: 0.85;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.hero ul img:hover {
    opacity: 1;
}

.device-wrapper {
    max-width: 300px;
    width: 100%;
}

.device-wrapper img {
    border-radius: 3rem;
}

.partners {
    padding: 20px 0px 110px;
}

.logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logos img {
    max-height: 50px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.logos img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.features {
    padding-top: 0!important;
    position: relative;
}

.features {
    padding-top: 0!important;
    position: relative;
}

.features::after {
    position: absolute;
    content: "";
    top: 15px;
    right: 15px;
    height: 100%;
    width: 350px;
    background: url(../img/features/doctor.png) no-repeat;
    background-size: contain;
    background-position: center center;
    
}

.box {
    margin-bottom: 1.75rem;
    text-align: center;
    background: #ffffff;
    padding: 2rem 1rem;
    border-radius: 0.85rem !important;
    -webkit-box-shadow: 0 5px 25px rgb(0 0 0 / 8%) !important;
    box-shadow: 0 5px 25px rgb(0 0 0 / 8%) !important;
}

.box img {
    max-height: 60px;
    margin-bottom: 1.5rem;
}

.box h5 {
    font-size: 1rem;
    margin-bottom: 0;
}

.title {
    margin-bottom: 60px;
}

.title p {
    color: #777777;
    font-size: 18px;
    margin: auto;
}

.card-body {
    padding: 2rem!important;
}

.services-slider .owl-dots {
    margin-top: 40px!important;
}

.services-slider .owl-item img {
    width: auto;
}

.with-pattern-1 img {
    border-radius: 15px;
}

.with-pattern-1 strong {
    font-weight: 600;
}

.with-pattern-1::before {
    z-index: 0;
}

.theme-btn, .theme-btn:hover {
    color: #ffffff;
    background: #4BC280;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}

.lead {
    font-size: 15px;
    font-weight: 300;
}

.cta {
    padding: 100px 0px 30px 0px;
}

.cta-area {
    padding: 80px;
    background: url('../img/download-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 30px;
    text-align: center;
    -webkit-box-shadow: 0 5px 25px rgb(0 0 0 / 8%) !important;
    box-shadow: 0 5px 25px rgb(0 0 0 / 8%) !important;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.cta-area::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: #4bc280;
    border-radius: 30px;
    opacity: 0.8;
    z-index: -1;
}

.cta-area .title {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px;
}

.cta-area .theme-btn {
    background: transparent;
    border: 2px solid #ffffff;
    margin: 0px 4px;
    text-transform: uppercase;
}

@media (max-width: 991.98px) {
    .navbar-nav .nav-link {
        color: #262727;
        text-align: center;
    }
    .hero {
        padding: 10rem 0 5rem!important;
        background: #F7FAFF!important;
        text-align: center;
    }
    .device-wrapper img {
        display: none;
    }
    .partners {
        padding: 100px 0px 100px;
    }
    .features::after {
        display: none;
    }
}


@media (max-width: 767.98px) {
    .cta {
        padding: 70px 0px 30px;
    }
    .cta-area {
        padding: 30px;
    }
    .cta .title {
        font-size: 2rem;
    }
    .cta .sm-none {
        display: none;
    }
    .partners {
        display: none;
    }
    #features {
        padding-top: 5rem!important;
    }
    .hero h1 {
        font-size: 1.8rem;
    }
    .hero h2 {
        font-size: 1.2rem;
    }
    .list-inline-item:not(:last-child) {
        margin-right: 0rem;
    }
    section {
        position: relative;
        padding: 5rem 0;
    }
    h2, .h2 {
        font-size: 1.5rem;
    }
    .title p {
        font-size: 16px;
    }
    .with-pattern-1 .row {
        margin-bottom: 0!important;
    }
    .cta-area::before {
        opacity: 1;
    }
    .section-padding-y {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
}

@media (max-width: 500px) {
    .cta .title {
        font-size: 1.5rem;
    }
    .cta .item h3 {
        font-size: 1.8rem;
    }
    .cta a.theme-btn {
        margin: 5px;
    }
}